header {
    background: grey;
    padding: 10px;
    ul {
      margin: 0;
      padding: 10px;
      list-style-type: none;
      li {
        display: inline;
        font-size: 16px;
        padding: 14px;
        &:hover {
            background-color: rgb(112, 112, 112);
          }
      }
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
    }
  }
  
  .left-nav {
   float: left;
  }
  
  .right-nav {
    float: right;
  }